<%- include ('../../partials/header.ejs') %>

    <%- include ('../../partials/sidebar.ejs') %>

        <main id="main" class="main">

            <div class="pagetitle">
                <h1>동아리 모집 게시글 작성</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">동아리 모집 게시글 작성</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="container mt-5">
                <div class="row justify-content-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-1 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">동아리 모집 게시글 작성</h5>
                                <form method="POST" class="row g-3 needs-validation" novalidate>
                                    <div class="col-12">
                                        <label for="postTitle" class="form-label">제목</label>
                                        <input type="text" name="post_title" class="form-control" id="postTitle"
                                            placeholder="제목을 입력해주세요" required>
                                        <div class="invalid-feedback">
                                            제목을 입력해주세요.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="row g-3">
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-text">동아리 이름</span>
                                                    <input type="text" name="dongari_name" class="form-control"
                                                        id="dongariName" placeholder="동아리 이름을 입력해주세요" required>
                                                    <div class="invalid-feedback">
                                                        띄어쓰기를 포함하여 정확하게 입력해주세요.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-text">모집 인원</span>
                                                    <input type="number" name="recruit_number" class="form-control"
                                                        id="recruitNumber" placeholder="모집 인원을 입력해주세요" required>
                                                    <div class="invalid-feedback">
                                                        모집 인원을 입력해주세요.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-text">모집 마감일</span>
                                                    <input type="date" name="recruit_deadline" class="form-control"
                                                        id="recruitDeadline" required>
                                                    <div class="invalid-feedback">
                                                        모집 마감일을 입력해주세요.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div id="editor" class="form-control" style="height: 500px;"></div>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <div class="d-flex justify-content-end">
                                            <button id="completePostBtn" type="submit"
                                                class="btn btn-primary btn-block">게시물 작성</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            </div>
        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <%- include ('../../partials/footer.ejs') %>
            <!-- End Footer -->

            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                    class="bi bi-arrow-up-short"></i></a>

            <!-- Vendor JS Files -->
            <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="assets/vendor/chart.js/chart.umd.js"></script>
            <script src="assets/vendor/echarts/echarts.min.js"></script>
            <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>

            <!-- Template Main JS File -->
            <script src="../assets/js/main.js"></script>
            
            <!--Quill Model-->
            <!-- <script defer src="../../../assets/js/models/Quill.model.js"></script> -->

            <!-- Client JS File -->
            <script defer src="../../../assets/js/post/post-recruit/writePost.js"></script>
            </body>

            </html>