<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a id="profile-link" class="nav-link collapsed" href="<%= userData.isAvailable ? 'users-profile' : 'pages-login' %>">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a id="club-link" class="nav-link collapsed" href="<%= userData.isAvailable ? 'club-profile' : 'pages-login' %>">
        <i class="bi bi-people"></i> <!-- 동아리 아이콘을 사용하거나 필요에 따라 변경하세요 -->
        <span>Club</span> <!-- 탭 이름을 "Club"으로 변경했습니다. -->
      </a>
    </li><!-- End Club Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="create-club">
          <i class="bi bi-people"></i>
          <span>동아리 생성 | 등록</span>
        </a>
      </li>

      <% if (userData.isAvailable) { %>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/api/users/logout">
              <i class="bi bi-box-arrow-in-right"></i>
              <span>로그아웃</span>
            </a>
          </li><!-- End Logout Page Nav -->
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link collapsed" href="pages-login">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>로그인</span>
              </a>
            </li><!-- End Login Page Nav -->
            <% } %>

  </ul>

</aside><!-- End Sidebar-->