<!-- 헤더 include -->
<%- include ('partials/header.ejs') %>

<!-- ======= Sidebar ======= -->
<%- include ('partials/sidebar.ejs') %>

<main id="main" class="main">
    <!-- Club Categories -->
    <div class="pagetitle">
        <h1>동아리 목록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><a href="/pages-clubList">동아리 목록</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="club-categories">
        <div class="category-container" data-category="all">전체</div>
        <div class="category-container" data-category="central">중앙동아리</div>
        <div class="category-container" data-category="community">소모임</div>
        <div class="category-container" data-category="academy">학회(랩실)</div>
    </div>

    <!-- Club List -->
    <table class="table">
        <thead>
            <tr>
                <th id="sortClubName" scope="col">동아리 이름 <i id="sortIcon" class="bi bi-sort-alpha-down"></i></th>
                <th scope="col">부장</th>
                <th scope="col">회원 수</th>
                <th scope="col">소속</th>
            </tr>
        </thead>
        <tbody id="club-table-body">
        </tbody>
    </table>

    <!-- ======= Footer ======= -->
    <%- include ('partials/footer.ejs') %>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Client JS File -->
    <script src="../assets/js/club_list.js"></script>
</main>
</body>
</ejs>
