<!-- 헤더 include -->
<%- include ('partials/header.ejs') %>

  <!-- ======= Sidebar ======= -->
  <%- include ('partials/sidebar.ejs') %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Frequently Asked Questions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Frequently Asked Questions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        <div class="col-lg-6">

          <div class="card basic">
            <div class="card-body">
              <h5 class="card-title">&lt;자주 묻는 질문&gt;</h5>

              <div>
                <h6>동아리에 가입하려면 어떻게 해야하나요?</h6>
                <p>자신이 관심있는 모집 공고 게시물을 통해서 가입 신청이 가능합니다.<br/>현재 모집중인 동아리를 <a href="/">여기에서</a> 확인해보세요.</p>
              </div>

              <div class="pt-2">
                <h6>동아리를 어떻게 개설하나요?</h6>
                <p>네 가능합니다. 좌측 상단의 <a href="/create-club">동아리 생성 메뉴</a>를 통해 정보를 기입 후 동아리 등록 신청을 하시면 검토 후 적합한 동아리라고 판단되면 승인될 것이며 이후 모집공고 작성 및 부원 관리 등 정상적인 활동이 가능합니다. 동아리 개설과 관련하여 더 궁금하신 사항은 여기에 문의해주시면 답변을 드리겠습니다.</p>
              </div>

              <div class="pt-2">
                <h6>어떤 서비스인가요?</h6>
                <p>저희는 동아리를 쉽고 편하게 관리할 수 있는 서비스를 제공하고자 합니다. 동아리 개설, 모집 공고를 통한 홍보, 가입 신청 등 부원 관리 기능을 제공합니다. 이 밖에도 다양한 컨텐츠들이 있으며 계속해서 새로운 기능 추가 및 개선을 위해 노력하고 있습니다.</p>
              </div>

            </div>
          </div>

          <!-- F.A.Q Group 1 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">&lt;내 정보 관련&gt;</h5>

              <div class="accordion accordion-flush" id="faq-group-1">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                      동아리에서 가입을 거절했는데 제출된 정보는 남아있나요?
                    </button>
                  </h2>
                  <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      동아리 관리 측면에서 다중 중복 지원 등의 방지를 위해서 30일 이후 제출된 정보를 안전하게 삭제됩니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                      내 정보를 동아리 회원 누구나 볼 수 있나요?
                    </button>
                  </h2>
                  <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      아닙니다. 서비스 관리자 및 동아리 관리자 등만 일반 회원의 정보를 볼 수 있으며 민감한 학번, 전화번호 등은 일반 부원들에게는 제공되지 않습니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                      내 정보를 변경할 수 있나요?
                    </button>
                  </h2>
                  <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      특정 부분에 대해서 가능합니다. 가입 시 사용된 정보에 대해서는 비밀번호만 변경이 가능하며 자신의 프로필 메시지, 가입중인 동아리, 보여주고 싶은 SNS 등 기능을 제공하고 있습니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                      어떤 동아리에 가입 신청을 했는지 까먹었어요.
                    </button>
                  </h2>
                  <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      로그인 후, 메인 페이지 좌측 상단의 신청 현황을 통해 신청한 동아리 목록, 가입 승인 및 거절 현황 등을 확인하실 수 있습니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                      서비스를 탈퇴하고 싶어요.
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      회원 탈퇴는 <a href="/users-profile"><u>내 프로필</u></a>에서 가능합니다. 다만 동아리 회장 등 특정 회원은 권한을 위임 이후 탈퇴가 가능함을 유의하시고 진행하시기를 바랍니다.
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 1 -->

        </div>

        <div class="col-lg-6">

          <!-- F.A.Q Group 2 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">&lt;동아리 관련&gt;</h5>

              <div class="accordion accordion-flush" id="faq-group-2">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">
                      어떤 동아리들이 있는지 궁금해요.
                    </button>
                  </h2>
                  <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      좌측의 <a href="/pages-clubList"><u>동아리 목록</u></a> 메뉴를 통해 현재 서비스를 사용중인 동아리들을 볼 수 있습니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse">
                      동아리 개설 승인까지 얼마나 걸리나요?
                    </button>
                  </h2>
                  <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      안전한 동아리 문화를 위해서 개설 승인까지는 최대 7일의 기간이 소요될 수 있습니다. 승인 후 담당자 연락처로 안내를 드릴 예정이며 잘못된 연락처를 기입하신 경우 <a href=""><u>여기</u></a>에 문의해주시면 변경이 가능합니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse">
                      여러 동아리에 가입하고 싶어요.
                    </button>
                  </h2>
                  <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      여러 동아리에 지원, 활동이 가능합니다. 하지만 특정 동아리의 경우 여러 동아리에 가입된 회원을 제한하는 경우도 있기 때문에 해당 희망하는 동아리의 가입 조건을 살펴보시기를 바랍니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse">
                      동아리 홍보 수단에 어떤 것들이 있나요?
                    </button>
                  </h2>
                  <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      모집공고를 통해 동아리를 알릴 수 있으며 가입되지 않은 사용자들이 동아리에 대한 정보를 더욱 쉽게 얻을 수 있게 하고자 각 동아리의 소개 페이지 또한 제공하고 있습니다. 이는 동아리의 담당자가 해당 페이지를 편집할 수 있으며 이 밖에 랭킹 시스템 등 다양한 기능을 제공하고 있습니다.
                      <a href="/club-introduction?category=2"><u>여기</u></a>는 현재 인기있는 동아리의 소개 페이지입니다.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">
                      비회원의 정보도 같이 관리할 수 있나요?
                    </button>
                  </h2>
                  <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      네 가능합니다. 해당 동아리의 권한을 받은 사용자는 동아리 내에 회원을 추가할 수 있으며 회원, 비회원 구분 없이 추가가 가능합니다.
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 2 -->

          <!-- F.A.Q Group 3 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">&lt;원하는 답변이 없다면?&gt;</h5>

              <div class="accordion accordion-flush" id="faq-group-3">

                <div class="accordion-item">
                  <h6 class="accordion-header">
                    <a href="https://www.synapoffice.com/_dbqZ5"><u>고객 문의</u></a>를 통해 문의해주시면 친절하게 답변해드리겠습니다.
                  </h6>
                </div>
              </div>

            </div>
          </div><!-- End F.A.Q Group 3 -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include ('partials/footer.ejs') %>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</ejs>