<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>회원가입</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../assets/img/hs-logo.png" rel="icon">
    <link href="../../assets/img/hs-logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 12 2024 with Bootstrap v5.3.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <main>
        <div class="container">
            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex justify-content-center py-4">
                                <a href="/" class="logo d-flex align-items-center w-auto">
                                    <img src="../../assets/img/hs-logo.png" alt="">
                                    <span class="d-none d-lg-block">한신 동아리</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">회원가입</h5>
                                        <p class="text-center small">회원이 되어주셔서 감사합니다!</p>
                                    </div>

                                    <form id="signupForm" class="row g-3 needs-validation">
                                        <div class="col-12">
                                            <label for="userId" class="form-label">Email</label>
                                            <div class="input-group">
                                                <input type="text" name="user_id" class="form-control" id="userId"
                                                    required maxlength="200">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    id="userIdCheckButton">중복 확인</button>
                                            </div>
                                            <div class="invalid-feedback" id="invalid_user_id">사용자 ID를 입력해주세요!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="userPw" class="form-label">Password</label>
                                            <input type="password" name="user_pw" class="form-control" id="userPw"
                                                oninput="validatePassword()" required maxlength="200">
                                            <div class="invalid-feedback">비밀번호를 입력해주세요!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="confirmUserPw" class="form-label">Password 확인</label>
                                            <input type="password" class="form-control" id="confirmUserPw"
                                                oninput="validatePassword()" required maxlength="200">
                                            <div class="invalid-feedback">비밀번호를 다시 한 번 확인해주세요!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="userName" class="form-label">이름</label>
                                            <input type="text" name="user_name" class="form-control" id="userName"
                                                required maxlength="200">
                                            <div class="invalid-feedback">이름을 입력해주세요!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="userStudentId" class="form-label">학번</label>
                                            <div class="input-group">
                                                <input type="text" name="user_student_id" class="form-control"
                                                    id="userStudentId" required maxlength="9">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    id="studentIdCheckButton">중복 확인</button>
                                            </div>
                                            <div class="invalid-feedback" id="userStudentIdFeedback">학번을 입력해주세요!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="userDepartment" class="form-label">학과</label>
                                            <input type="text" name="user_department" class="form-control"
                                                id="userDepartment" required maxlength="15">
                                            <div class="invalid-feedback">학과를 입력해주세요!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="userPhNumber" class="form-label">핸드폰 번호</label>
                                            <input type="text" name="user_ph_number" class="form-control"
                                                id="userPhNumber" required maxlength="15">
                                            <div class="invalid-feedback">전화번호를 입력해주세요!</div>
                                        </div>

                                        <!-- 약관동의 -->
                                        <div id="termsModal" class="modal" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">서비스 이용약관</h5>
                                                        <button type="button" class="btn-close" onclick="closeModal()"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5>제1조 (목적)</h5>
                                                        <p>본 약관은 한신 대학교 동아리 관리 시스템 서비스(이하 "서비스"라 함)의 이용조건 및 절차, 회원과 관리자
                                                            간의 권리, 의무 및 책임사항 등을 규정하는 것을 목적으로 합니다.</p>
                                                        <h5>제2조 (정의)</h5>
                                                        <p>
                                                            본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
                                                            <br> 1. 서비스: 한신 대학교 동아리 관리 시스템에서 제공하는 모든 서비스를 의미합니다.
                                                            <br> 2. 회원: 본 약관에 동의하고 회원가입을 한 자를 말합니다.
                                                            <br> 3. 관리자: 동아리 관리 시스템을 운영하는 한신 대학교 관리자를 말합니다.
                                                        </p>
                                                        <h5>제3조 (약관의 효력과 변경)</h5>
                                                        <p>
                                                            1. 본 약관은 회원이 동의함으로써 효력을 발생합니다.
                                                            <br> 2. 한신 대학교 동아리 관리 시스템 운영팀은 관련 법령에 따라 본 약관을 개정할 수 있습니다.
                                                            약관이 변경되는 경우, 변경 사항을
                                                            회원에게
                                                            통지합니다. 통지 후 일정 기간 이내에 이의를 제기하지 않으면 변경 사항에 동의한 것으로 간주됩니다.
                                                        </p>
                                                        <h5>제4조 (회원의 의무)</h5>
                                                        <p>
                                                            1. 회원은 서비스를 이용함에 있어 다음 각 호의 행위를 해서는 안 됩니다.
                                                            <br> 1) 타인의 개인정보를 도용하거나 부정한 목적으로 사용하는 행위
                                                            <br> 2) 서비스의 운영을 방해하는 행위
                                                            <br> 3) 기타 불법적이거나 부당한 행위
                                                            <br> 2. 회원은 서비스를 이용함에 있어 관련 법령, 약관, 공지사항 등을 준수하여야 합니다.
                                                        </p>
                                                        <h5>제5조 (회원가입 및 탈퇴)</h5>
                                                        <p>
                                                            1. 회원가입은 본 서비스의 이용을 희망하는 자가 본 약관에 동의하고, 한신 대학교 동아리 관리 시스템
                                                            운영팀이 요청하는 필수 정보를
                                                            제공하여야
                                                            합니다.
                                                            <br> 2. 탈퇴를 원하는 회원은 한신 대학교 동아리 관리 시스템 운영팀이 제공하는 탈퇴 절차를 따라야
                                                            합니다. 탈퇴 후에도 한신 대학교 동아리 관리 시스템 운영팀이 관련
                                                            법령 및
                                                            정부기관의 요청에 따라 일정 기간 동안 회원의 개인정보를 보관할 수 있습니다.
                                                        </p>
                                                    </div>

                                                    <!-- 동의, 닫기 버튼 -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"
                                                            id="confirmAgreement">동의</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            id="closeModalButton">닫기</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" name="terms" type="checkbox" value=""
                                                    id="acceptTerms" required>
                                                <label class="form-check-label" for="acceptTerms">서비스 이용약관
                                                    <a href="#" id="viewTermsLink">(보기)</a>
                                                </label>
                                                <div class="invalid-feedback">제출하기 전에 동의해야 합니다.</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit"
                                                id="createAccountButton">Create
                                                Account</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">이미 계정이 있으신가요? <a href="pages-login">로그인하러 가기.</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">오류 메시지</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="error-modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <!--Client JS File-->
    <script defer src="../assets/js/register/register.js"></script>
    <script defer src="../assets/js/register/toggleTermsAgreement.js"></script>

</body>

</html>