<!-- 헤더 include -->
<%- include ('partials/header.ejs') %>
    <%- include ('partials/sidebar.ejs') %>

        <main id="main" class="main">

            <div class="pagetitle">
                <h1>게시글 페이지</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">게시글 페이지</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <div class="post-content">
                <h2 id = "post_club_name">
                </h2>
                <div id="post_club_content">
                </div>
            </div>
        </main>

        <!-- ======= Footer ======= -->
        <%- include ('partials/footer.ejs') %>
            <!-- End Footer -->

            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                    class="bi bi-arrow-up-short"></i></a>

            <!-- Vendor JS Files -->
            <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="assets/vendor/chart.js/chart.umd.js"></script>
            <script src="assets/vendor/echarts/echarts.min.js"></script>
            <script src="assets/vendor/quill/quill.min.js"></script>
            <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
            <script src="assets/vendor/tinymce/tinymce.min.js"></script>
            <script src="assets/vendor/php-email-form/validate.js"></script>

            <!-- Template Main JS File -->
            <script src="../assets/js/main.js"></script>

            <!-- Client JS File -->
            <script defer src="../assets/js/post.js"></script>

        </body>

    </ejs>